@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imperial-logo{
    width: 7%;
}
#zeronation-logo{
    width: 9%;
}
body{
    background-color: #000;
    color: #fff;
    padding: 32px;
    background-image: url(./img/LogoBackground.png);
    background-repeat:repeat-y;
}
.versus{
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    font-size: 42px;
    color: #fff;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.cabecalho-time{
    color: #fff;
    font-size: 28px;
}
.match{
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-titulo{
    color: #fff;
    padding: 16px;
}
.line{
    flex-grow: 1;
    border-top: 2px solid blue;
}

.picks-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    min-height: 350px;
}
.card::before{
    background-position: center;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.card:hover{
    border: 6px solid #e22859;
}
.card:hover .check{
    opacity: 1;
}
.card:hover .accept{
    opacity: 1;
}
.card.de_mirage::before{
    background-image: url(./img/mirage.png);
}
.accept{
    background-color: #e22859;
    font-family: 'Inter',sans-serif;
    height: 40px;
    left: 0;
    opacity: 0;

}